<br />

<app-move-button [gameMove]="focus" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>

<app-move-button [gameMove]="learn" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>

<app-move-button [gameMove]="cast" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>

<app-move-button [gameMove]="mission" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>