<br />

<app-move-button [move]="focus" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>

<app-move-button [move]="learn" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>

<app-move-button [move]="cast" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>

<app-move-button [move]="mission" [ticks]="ticks" [gameActive]="gameActive"
    (moveButtonEvent)="useMove($event)"></app-move-button>