<div
  class="move-button-container"
  (click)="clickMove()"
  (mouseenter)="onMouseEnter()"
  [ngClass]="{
    'on-cooldown':
      move.cooldown.onCooldown === true ||
      !gameActive ||
      move.type == 'Cast' ||
      move.type == 'Mission' ||
      (move.type == 'Learn' &&
        !movesService.canAnythingBeLearned(discoveredSkills, resources)),
    focus: move.type == 'Focus',
    learn: move.type == 'Learn',
    cast: move.type == 'Cast',
    mission: move.type == 'Mission'
  }"
>
  <div
    *ngIf="move.cooldown.animation === 1 && move.cooldown.onCooldown === true"
    [ngStyle]="{
      width: movesService.calculateCooldownPercent(move, ticks) + '%'
    }"
    class="move-button-progress"
  ></div>
  <img class="move-image" src="{{ movesService.getImage(move.type) }}" />
</div>
